doctype 5
html
  head
    title = title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="/javascripts/sea.js",data-config="/javascripts/_config",data-main="/javascripts/_main")
  body
    block content
    header(style="height:70px;left:0;right:0;top:0px;position:absolute;border:2px solid silver;") #{author}
    section(style="position:absolute;left:0;border:2px solid silver;right:0;left:0;bottom:0px;top:74px;",id="tp_body")
      div(id="container")
      div(style="width:200px;border:1px solid green;height:100%;float:left;")
      div(style="overflow:hidden; zoom:1",id="table_panel",class="f-left") 随机出来的七张牌：
        - pokers.forEach(function(poker,index){
          div(class="#{poker.suit} #{poker.suit}_#{poker.code} f-left")
        -});
        div(style="clear:both;")最大的一副牌:#{max_pokers.type}
        - max_pokers.forEach(function(poker,index){
            - if(index > 4)return true;
          div(class="#{poker.suit} #{poker.suit}_#{poker.code} f-left")
        -});

